# Ignore Rhistory files :
.Rhistory

# Ignore Rplots.pdf files
/Rplots.pdf

# Ignore files created by snakemake
/.snakemake/

/A_raw_data
/C_scripts/tests.R
/D_results/
/link_tab.csv
/dag.pdf

/D_results_allsample_180121_11h27/
/D_results_sans06h_180121_12h31/
/D_results_sansD3_180121_13h31/
/D_results_merged/

/Script_MergeDonneurs
